<!DOCTYPE html>
@* This is a CW2 file *@
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap Core CSS-->
    <title>Opps! She Did It Again!! - Vote with Your Wallet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<script>
    //jquery for hiding user functionality when not logged in
    $(document).ready(function() { $("#userMenu").hide(); });

    //temporary function to toggle between user/guest mode
    $(document).ready(function() {
        $("#btnMenuToggle").click(function() {
            $("#guestMenu").toggle();
            $("#userMenu").toggle();
        });
    });
</script>
<div class="navbar navbar-light bg-light navbar-expand-lg navbar-fixed-top ">
    <img alt="VoteForYourWalletLogo" class="navbar-brand" src="~/Content/img/vote.png"/>
    @Html.ActionLink("Vote with Your Wallet", "Index", "Home", new {}, new {@class = "navbar-brand mx-md-0"})
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Our Causes</a>
            </li>
            <li class="nav-item">
                @Html.ActionLink("About Us", "About", "Home", new { }, new {@class = "nav-link"})
            </li>
            <li class="nav-item" id="guestMenu">
                <div class="row p-md-2 mt-md-2 mx-sm-0">
                    @Html.ActionLink("Log In", "LogIn", "Home", new { }, new {@class = "nav-link"})
                    <i>&nbsp;or&nbsp;</i>
                    @Html.ActionLink("Sign Up", "SignUp", "Home", new { }, new {@class = "nav-link"})
                </div>
            </li>
            <li class="nav-item dropdown" display="none " id="userMenu">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    @Html.ActionLink("My Profile", "MyProfile", "Home", new {}, new {@class = "dropdown-item"})
                    @Html.ActionLink("My Causes", "MyCauses", "Home", new {}, new {@class = "dropdown-item"})
                    @Html.ActionLink("Start a new cause", "MyNewCause", "Home", new {}, new {@class = "dropdown-item"})
                </div>
            </li>
            <li>
                <button class="btn btn-default" id="btnMenuToggle">Toggle Guest/User Mode (Will be removed)</button>
            </li>

        </ul>

        <div class="my-md-2 float-md-right">
            <form class="form-check-inline">
                <input class="form-control" type="text" placeholder="Search current causes">
                &nbsp;
                <input class="form-control btn-default btn-primary  ml-2 p-2" type="submit" value="Search">
            </form>
        </div>

    </div>
</div>
@*Body code*@
<div class="container body-content">
    @*Header code*@
    <header class="col-12">
        <span>
            <a href="@Url.Action("Index", "Home")">
                <img class="img-fluid" id="logo" src="~/Content/img/vfyw_banner.png"
                     alt="Banner">
            </a>
        </span>

        <div class="jumbotron">
            <h1>Vote with Your Wallet</h1>
            <p class="lead">Your voices matter. So let's make it heard</p>
        </div>
    </header>
    @*End header code*@

    @*Error Pages common body*@
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h2>Click @Html.ActionLink("here", "Index", "Home") to go back to the Homepage.</h2>
    </hgroup>

    @RenderBody()

    @*Footer Code*@
    <hr/>
    <footer class="col-12">
        <p>&copy; @DateTime.Now.Year - Vote with Your Wallet</p>
    </footer>
    @*End Footer Code*@
</div>
<!--jQ,Popper & JS-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>