@model IEnumerable<PFW_CW_2.Models.causes>

@{
    foreach (var item in Model)
    {
        String crrStatus = "";
        String crrPledgeString = "";
        switch (item.status)
        {
            case 0:
                crrStatus = " Pending";
                break;

            case 1:
                crrStatus = " Published";
                break;
            case -1:
                crrStatus = " Retracted";
                break;
            default:
                crrStatus = " Retracted";
                break;
        }

        switch (item.pledges.Count > 1)
        {
            case true:
                crrPledgeString = " pledges";
                break;
            default:
                crrPledgeString = " pledge" ;
                break;
        }
        <div class="row">
            <div class="col-3 img-fluid">
                <img class="img-fluid" src="~/Content/img/vote.png"/>
            </div>
            <div class="col-9">
                <h2 class="text-center">Title:" @item.title"</h2>
                <div class="text-center"> @crrStatus </div>
                <div class="text-center">@item.pledges.Count @crrPledgeString</div>
                <h5 class="text-center">"@item.description"</h5>
                @Html.ActionLink("More Info", "Details", "Causes", new {id = item.causeId}, new {@class = "nav-link text-right"})
            </div>
        </div>
    }
}